.idea
venv/
/data
*.log
**/*.pyc
**/__pycache__
.mypy_cache/
./config.yaml
src/xchemalign.egg-info/
src/xchemalign/_version.py
test-data/outputs/upload_*
test-data/outputs/upload-v2/upload_*
test-data/outputs/upload-v2/*.log
test-data/outputs/upload-v2/config.yaml

example-simple
build

*~
\#*#
\#*
