---
# The JSONSchema for 'config' YAML files.
#
# See https://json-schema.org/understanding-json-schema/index.html

$schema: http://json-schema.org/draft-07/schema#

title: XChem Align Config Schema
description: >-
  The Schema for XChem Align Config Files

# The root-level object -------------------------------------------------------

type: object
additionalProperties: false
properties:
  target_name:
    type: string
  base_dir:
    type: string
  copy_dir:
    type: string
  extra_files_dir:
    type: string
  ref_datasets:
    type: array
    items:
      type: string
    minItems: 0
  panddas_missing_ok:
    type: array
    items:
      type: string
    minItems: 0
  covalent:
    type: string
  inputs:
    type: array
    items:
      anyOf:
      - $ref: '#/definitions/model-building-input'
      - $ref: '#/definitions/manual-input'
    minItems: 1
  overrides:
    $ref: '#/definitions/overrides'
required:
- target_name
- base_dir
- inputs

# Sub-object definitions ------------------------------------------------------

definitions:

  model-building-input:
    type: object
    additionalProperties: false
    properties:
      dir:
        type: string
      type:
        enum:
        - model_building
      code_prefix:
        type: string
      code_prefix_tooltip:
        type: string
      soakdb:
        type: string
      exclude:
        type: array
        items:
          type: string
        minItems: 0
      panddas_event_files:
        type: array
        items:
          type: string
        minItems: 0
    required:
    - dir
    - type

  manual-input:
    type: object
    additionalProperties: false
    properties:
      dir:
        type: string
      type:
        enum:
        - manual
      code_prefix:
        type: string
      code_prefix_tooltip:
        type: string
      exclude:
        type: array
        items:
          type: string
        minItems: 0
    required:
    - dir
    - type

  overrides:
    type: object
    additionalProperties: true
